################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/
/**/obj/
.vs
*.sqlite
*.ncrunchsolution
*.ncrunchsolution.user
*.cache
/Documentation/.db/system.sqlite
/Documentation/output
/.deploy/
/publish/*.zip