################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/bin/
/**/obj/
.vs
*.sqlite
*.ncrunchsolution
*.ncrunchsolution.user
*.cache
*.db
/Documentation/.db/system.sqlite
/Documentation/output
/.deploy/
/publish/*.zip
/PLang/Goals/output.txt
/publish
/PlangConsole/OS
