{% if step.Comment %}/ {{ step.Comment }}
{% endif %}- {{ step.Text }}
{% if step.Action.size > 0 %}  <= actions: [{% for a in step.Action %}{"module":"{{ a.Module }}","action":"{{ a.ActionName }}"{% if a.Parameter.size > 0 %},"parameters":[{% for p in a.Parameter %}{"name":"{{ p.Name }}","value":{{ p.Value | jsonval }}}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}{% if a.Return %},"return":[{% for r in a.Return %}{"name":"{{ r.Name }}"}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}
{% if stepResult.validationError %}  <= ⚠️ VALIDATION FAILED: {{ stepResult.validationError }}{% endif %}
{% if step.Warning.size > 0 %}  <= warnings: [{% for w in step.Warning %}{"key":"{{ w.Key }}","message":"{{ w.Message }}"}{% unless forloop.last %},{% endunless %}{% endfor %}]{% endif %}
