{% for a in actions %}{{ a.Module }}.{{ a.ActionName }}{% if a.Parameter.size > 0 %} {% for p in a.Parameter %}{{ p.Name }}({% if p.Type %}[{{ p.Type }}] {% endif %}{{ p.Value | formal }}){% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}{% for m in a.Modifier %} | {{ m.Module }}.{{ m.ActionName }}{% if m.Parameter.size > 0 %} {% for p in m.Parameter %}{{ p.Name }}({% if p.Type %}[{{ p.Type }}] {% endif %}{{ p.Value | formal }}){% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}{% endfor %}{% unless forloop.last %} | {% endunless %}{% endfor %}