{% if goal.Comment %}/ {{ goal.Comment }}
{% endif %}{{ goal.Name }}
{% for step in goal.Steps %}{% if step.Comment %}/ {{ step.Comment }}
{% endif %}- {{ step.Text }}  <= {% if step.Actions.size > 0 %}{% for a in step.Actions %}{{ a.Module }}.{{ a.ActionName }}{% if a.Parameters.size > 0 %} {% for p in a.Parameters %}{{ p.Name }}={% if p.Type %}[{{ p.Type }}] {% endif %}{{ p.Value }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}{% unless forloop.last %} | {% endunless %}{% endfor %}{% if step.Cache %} cache={{ step.Cache.DurationMs }}ms{% if step.Cache.Sliding %} sliding{% endif %}{% endif %}{% if step.OnError %} onError:{% if step.OnError.IgnoreError %}ignore{% endif %}{% if step.OnError.Goal %}call {{ step.OnError.Goal.Name }}{% endif %}{% if step.OnError.RetryCount %} retry={{ step.OnError.RetryCount }}{% endif %}{% if step.OnError.Order %} order={{ step.OnError.Order }}{% endif %}{% endif %}{% else %}null{% endif %}
{% endfor %}{% if goal.Errors.size > 0 %}
errors:
{% for e in goal.Errors %}- {key: "{{ e.Key }}", message: "{{ e.Message }}"}
{% endfor %}{% endif %}{% if goal.Warnings.size > 0 %}
warnings:
{% for w in goal.Warnings %}- {key: "{{ w.Key }}", message: "{{ w.Message }}"}
{% endfor %}{% endif %}
